* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2 {
  padding-top: 20px;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background: #fff;
  box-shadow: 1px 3px 4px 1px;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.fa-rotate {
  padding-right: 10px;
  /* animation: spin-icon 1s linear infinite; */
}

@keyframes spin-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .loader-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
  position: fixed;
  background: #fff
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif")
    center
    no-repeat;
  z-index: 1;
} */

.spinner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

@media screen and (max-width: 768x) {
  img {
    width: 96%;
    margin: 0 auto;
  }  
}
